
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $default;
  background-color: $bg;
  font-size: 17px;
  line-height: 24px;
  @extend %jost-400;
}
.main{
  flex-grow: 1;
}
.container{
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @extend %forum-400;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 50px;
  text-align: center;
}

.decor-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: $orange-btn;
  &::after,
  &::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    left: 0;
    transform: translateX(-2.5px);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }
  &::after{   
    top: 0px;       
    border-top: 6px solid $orange-btn;    
  }
  &::before{
    bottom: 0px;
    border-bottom: 6px solid $orange-btn;
  }
}
.decor-top{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $grey;
  &::after,
  &::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;   
    top: 0;
    transform: translateY(-2.5px);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
  &::after{
    right: 0;
    border-right: 6px solid $grey;   
  }
  &::before{
    left: 0;
    border-left: 6px solid $grey;
  }
}
.decor-top-left{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: $orange-btn;
  &::after,
  &::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;   
    top: 0;
    transform: translateX(-2.5px);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }
  &::after{
    top: 0;
    border-top: 6px solid $orange-btn;   
  }
  &::before{
    top: auto;
    bottom: 0;
    border-bottom: 6px solid $orange-btn;
  }
}
.decor-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $grey;
  &::after,
  &::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;   
    bottom: 0;
    transform: translateY(2.5px);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
  &::after{
    right: 0;
    border-right: 6px solid $grey;   
  }
  &::before{
    left: 0;
    border-left: 6px solid $grey;
  }
}
.decor-bottomQ{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $orange;
  &::after,
  &::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;   
    bottom: 0;
    transform: translateY(1px) rotate(45deg);
    background-color: $orange;
  }
  &::after{
    right: 0;  
  }
  &::before{
    left: 0;
  }
}
.decor-top--orange{
  background-color: $orange-btn;
  &::after{
    border-right-color: $orange-btn;
  }
  &::before{
    border-left-color: $orange-btn;
  }
}

.category-decor {
  &__top,
  &__bottom{
    position: absolute;
    right: -11px;
  }
  &__top {
    top: -1px;
    border-top: 16px solid $orange;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    &::before{
      content: '';
      position: absolute;
      border-top: 16px solid #f5f5f5;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      right: -7px;
      transform: translateX(0.5px);
      top: -15px;
    }
  }
  &__bottom {
    bottom: -1px;
    transform: translateY(0.2px);
    // border-bottom: 16px solid $orange;
    // border-left: 9px solid transparent;
    // border-right: 9px solid transparent;
    z-index: -1;
    // &::before{
    //   content: '';
    //   position: absolute;
    //   border-bottom: 16px solid #f5f5f5;
    //   border-left: 9px solid transparent;
    //   border-right: 9px solid transparent;
    //   right: -7px;
    //   transform: translateX(0.5px);
    //   top: -1px;
    // }
    background-color: $orange;
    width: 16px;
    height: 18px;
    clip-path: polygon(100% 0, 0 50%, 90% 100%, 100% 100%, 0 44%, 88% 0);
  }
}

.scroll-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f5f5f5;
  display: flex;
  width: 50px;
  height: 50px;
  overflow: hidden;
  transition: all .2s;
  opacity: 0;
  pointer-events: none;
  &:hover{
    padding: 15px 25px;
    width: 272px;
    height: 80px;
    .scroll-top__icon{
      transform: translateX(0px);
    }
    .scroll-top__text{
      opacity: 1;
    }
  }
  &--active{
    opacity: 1;
    pointer-events: all;
  }
  &__text {
    @extend %montserrat-500;
    color: $orange;
    line-height: 26px;
    transition: all .1s .25s;
    opacity: 0;
  }
  &__icon {
    transform: translateX(-114px);
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid $orange;
    position: relative;
    z-index: 10;
    background-color: #f5f5f5;
    &::before{
      content: '';
      position: absolute;
      border-bottom: 10px solid $orange;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.breadcrumbs {
  padding: 50px 0 30px;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item + .breadcrumbs__item{
    margin-left: 29px;
    position: relative;
    &::before{
      content: '/';
      position: absolute;
      left: -18px;
      top: 0px;
      color: $grey;
    }
  }
  &__link {
    line-height: 26px;
    color: $grey;
  }
  &__link--active{
    color: #636B78;
  }
}

.jq-number{
  padding: 0 40px;
  text-align: center;
  height: 40px;
  &__field{
    width: 40px;
    height: 40px;
    border: 1px solid $orange;
    border-radius: 0;
    box-shadow: none;
    input{
      text-align: center;
      color: $default;
      font-size: 17px;
      line-height: 24px;
      @extend %jost-400;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__spin{
    height: 100%;
    border: none;
    background: transparent;
    text-shadow: none;
    box-shadow: none;
    &::after{
      width: 11px;
      height: 1px;
      background-color: $default;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover{
      background: none;
    }
    &.minus{
      left: 0;
      &::after{
        top: 50%;
        border: none;
      }
    }
    &.plus{
      &::after{
        border: none;
        left: 50%;
        transform: translateX(-50%);
      }
      &::before{
        content: '';
        left: 50%;
        position: absolute;
        height: 11px;
        width: 1px;
        background-color: $default;
        top: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
    &.plus,
    &.minus{
      &::after,
      &::before{
        transition: all .3s;
      }
      &:hover{
        &::after,
        &::before{
          background-color: $orange;
        }
      }
    }
  }
}


