//fonts

%jost-400{
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}
%jost-500{
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}
%jost-600{
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}
%jost-700{
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}
%forum-400{
  font-family: 'Forum', sans-serif;
  font-weight: 400;
}
%montserrat-500{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

//colors

$bg: #eee;
$black: #050402;
$white: #FAF6F2;
$grey: #D0D0D0;
$orange: #BB8C5F;
$orange-btn: #524336;
$default: #3E424B;

//

